@import './variables.scss';

.header {
    background-image: url('./../images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 4rem 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4rem;

    img {
        width: 100%;
        max-width: 120px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 5rem 5rem;
        min-height: 80vh;
        background-image: url('./../images/bg-hero-desktop.svg');
    }
}