@import './variables.scss';

.block {
    padding: 3rem 2.5rem;
}

.block--transparent {
    background-color: transparent;
}

.hero__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 3rem;

    h1 {
        color: $very-dark-cyan;
    }

    p {
        color: $very-dark-cyan;
        line-height: 1.5;
    }

    .btn {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .block.grid--1x2 {
        grid-template-columns: 30% 70%;
    }

    .hero__content {
        align-items: start;
        text-align: left;

        h1 {
            font-size: 3rem;
        }
    
        p {
            font-size: 1.65rem;
        }

        .btn {
            font-size: 1.3rem;
        }
    }
}