// ### Primary

$pink: hsl(322, 100%, 66%);

// ### Neutral

$very-pal-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

// ## Typography

// ### Body Copy

// - Font size: 18px

// ### Headings
$poppins: 'Poppins', sans-serif;;
// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 600

// ### Body, Call-to-actions
$open-sans: 'Open Sans', sans-serif;
// - Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
// - Weights: 400, 700