<article class="article grid grid--1x2 align-center">
    <div class="article__content">
      <h2>Grow Together</h2>
      <p>Generate meaningful discussions with your audience and build a strong, loyal community. 
        Think of the insightful conversations you miss out on with a feedback form. 
        </p>
    </div>
    <span class="icon-container">
      <svg class="illustration-icon">
        <use xlink:href="images/illustration-sprite.svg#illustration-grow-together"></use>
      </svg>
    </span>
  </article>
  <article class="article article--reverse grid grid--1x2 align-center">
    <div class="article__content">
      <h2>Flowing Conversations</h2>
      <p>You wouldn't paginate a conversation in real life, so why do it online? Our threads 
        have just-in-time loading for a more natural flow.
        </p>
    </div>
    <span class="icon-container">
      <svg class="illustration-icon">
        <use xlink:href="images/illustration-sprite.svg#illustration-grow-together"></use>
      </svg>
    </span>
  </article>
  <article class="article grid grid--1x2 align-center">
    <div class="article__content">
      <h2>Your Users</h2>
      <p>It takes no time at all to integrate Huddle with your app's authentication solution. 
        This means, once signed in to your app, your users can start chatting immediately.
        </p>
    </div>
    <span class="icon-container">
      <svg class="illustration-icon">
        <use xlink:href="images/illustration-sprite.svg#illustration-grow-together"></use>
      </svg>
    </span>
  </article>