<ul class="list list--icon">
  <img src="./images/logo.svg" alt="Brand logo">
  <li class="list__item list__icon-loc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, repudiandae?</li>
  <li class="list__item list__icon-call">123123131</li>
  <li class="list__item list__icon-mail">example@huddle.com</li>
</ul>

  <ul class="list list--grid">
    <li class="list__item">
      <a href="#">About us</a>
    </li>
    <li class="list__item">
      <a href="#">What we do</a>
    </li>
    <li class="list__item">
      <a href="#">FAQ</a>
    </li>
    <li class="list__item">
      <a href="#">Career</a>
    </li>
    <li class="list__item">
      <a href="#">Blog</a>
    </li>
    <li class="list__item">
      <a href="#">Contact us</a>
    </li>
  </ul>

  <ul class="list list--inline">
    <li class="list__item">
      <a href="#" class="link-icon link-fb link-twitter link-ig"></a>
    </li>
    <li class="list__item">
      <a href="#" class="link-icon link-fb link-twitter link-ig"></a>
    </li>
    <li class="list__item">
      <a href="#" class="link-icon link-fb link-twitter link-ig"></a>
    </li>
  </ul>